#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.header {
  position: fixed;
  background-color: #333;
  color:white;
  width:100%;
  top:0;
  left:0;
  height:10vh;
  font-family: 'Yu Gothic';
  font-weight: bold;
  font-size: 30px;

}
.body{
  left:0;
  width:100vw;
  display:flex;
  height:90vh;
  margin-top: 10vh;
}
.main {

  background-color: #888;
  /* flex-grow:1; */
  width: 70%;
}
.setting{
  background-color: antiquewhite;
  padding: 16px;
  width: 30%;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 700;
  text-align:  center; 
}

.GObutton {
  background-color:#AFDFE4;
  cursor: pointer;
  border-radius :16px;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 700;
  transition-duration: 2.0s;
}
.GObutton:hover {
  transform: scale(1.1);
}